* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(74, 73, 73);
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 100px;
    max-width: px;
}

a {
    text-decoration: none;
    color: white;
}

.nav .a1 {
    font-size: 40px;
    display: flex;
    justify-content: flex-start;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav .a2 {
    display: flex;
    justify-content: end;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.nav {
    display: flex;
    justify-content: space-around;
}

.box {
    display: flex;
    margin-top: 100px;

}

h2 {
    text-align: center;
    margin-top: 50px;
}

.boxx1,
.boxx2,
.boxx3 {
    width: 400px;
    height: 400px;
    background-color: gray;
    border-radius: 30px;
    text-align: center;
}

.boxx {
    display: flex;
    gap: 50px;
}

.p1 {
    text-align: center;
}

.dir {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

img {
    width: 400px;
    border-radius: 30px;
}

input {
    margin: 0 auto;
    width: 300px;
    height: 40px;
    background-color: gray;
}

input::placeholder {
    text-align: start;
    color: lightgray;
    font-family: monospace;
}

.input1 {
    text-align: center;
}

.input2 {
    text-align: center;
}

.textarea1 {
    text-align: center;

}

textarea {
    width: 610px;
    height: 200px;
    background-color: gray;
}

.hh2 {
    text-align: start;
    color: white;
}

h1 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.more {
    color: black;
    font-size: 30px;
    background-color: aqua;
    padding: 20px;
    border-radius: 20px;
    font-family: monospace;
    box-shadow: 1px -2px 51px -2px rgba(0, 255, 255, 0.75);

}

.more1 {
    color: black;
    font-size: 30px;
    background-color: aqua;
    padding: 20px;
    border-radius: 20px;
    font-family: monospace;
    box-shadow: 1px -2px 51px -2px rgba(0, 255, 255, 0.75);
    text-align: center;

}

span {
    color: aqua;
}

.a2:hover {
    color: aqua;
}

.tr {
    text-align: center;
}

.footer {
    width: 100%;
    height: 50px;
    background-color: darkslategrey;
}



@media (max-width: 600px) {
  .boxx {
    flex-direction: column;
    align-items: center;
  }

  .boxx1, .boxx2, .boxx3 {
    width: 90%;
  }
}